
<%= form_for @pet, :html => { :multipart => true } do |f| %>
  <% if @pet.errors.any? %>
    <div class="alert error-alert">
  <a class="close" data-dismiss="alert">×</a>
      <h4><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h4>

      <ul>
      <% @pet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size=>"60*5" %>
  </div>

  
  <div class="field">
    <%= f.label :specie_id %><br />
    <%= f.collection_select(:specie_id, @species_list, :id, :name, 
	options ={:prompt => " - "}) %>
  </div>

  
  <div class="field">
    <%= label_tag(:perdida, "Extraviada") %>
    <%= check_box_tag(:perdida) %>
  </div>

  <div class="actions">
    <%= f.submit "Publicar!", :class => "btn-primary" %>
  </div>
<% end %>
