<div class="row-fluid">
<% @pets.each do |pet| %>
            <div class="span4">
              <h2><%= pet.name %></h2>
              <p><%= pet.description %></p>
	      <p><%= image_tag pet.picture.url(:thumb) %></p>
              <p><%= link_to "Mas Detalles", pet_path(pet), :class => "btn" %></p>
            </div><!--/span-->

<% end %>
</div>


<h1>Listing pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Creationdate</th>
    <th>Lostdate</th>
    <th>Founddate</th>
    <th>Adopteddate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.creationDate %></td>
    <td><%= pet.lostDate %></td>
    <td><%= pet.foundDate %></td>
    <td><%= pet.adoptedDate %></td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
