<p id="notice"><%= notice %></p>

<p>
  <h4><%= @pet.name %></h4>
  <%= @pet.description %>
</p>

<p>
  <%= image_tag @pet.picture.url(:medium) %>
</p>

<% unless @pet.foundDate.nil?  %>
<p>
  <b>Encotrado:</b>
  <%= @pet.foundDate %>
</p>
<% end %>

<p>
  <b>Subida el:</b>
  <%= @pet.creationDate %>
</p>

<% unless @pet.adoptedDate.nil?  %>
<p>
  <b>Adoptado:</b>
  <%= @pet.adoptedDate %>
</p>
<% end %>

<% if @pet.belongs_to? current_user %>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Opciones
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Editar datos', edit_pet_path(@pet) %></li> 
    <li><%= link_to 'Publicar otra mascota', new_pet_path %></li>
    <li><%= link_to 'Volver a mis mascotas', pets_path %></li>
    <li><%= link_to 'Borrar mascota', @pet, confirm: '¿Borrar mascota?', method: :delete %></li>
  </ul>
</div>

<% else %>



<% end %>
