<p id="notice"><%= notice %></p>

<p>
  <h4><%= @pet.name %></h4>
  <%= @pet.description %>
</p>

<p>
  <%= image_tag @pet.picture.url(:medium) %>
</p>

<% unless @pet.foundDate.nil?  %>
<p>
  <b>Encotrado:</b>
  <%= @pet.foundDate %>
</p>
<% end %>

<p>
  <b>Subida el:</b>
  <%= @pet.creationDate %>
</p>

<% unless @pet.adoptedDate.nil?  %>
<p>
  <b>Adoptado:</b>
  <%= @pet.adoptedDate %>
</p>
<% end %>

<% if @pet.belongs_to? current_user %>
<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
<% end %>
