<div class="row-fluid">

  <% if flash[:notice] %>
      <div class="span10 alert">
	<a class="close" data-dismiss="alert">×</a>
	<%= flash[:notice] %>
      </div>
  <% end %>

  <div class="span4">
    <h2>Iniciar Sesion</h2>

    <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Iniciar" %></div>
    <% end %>
  </div>

  <div class="span5" style="padding:2em"><p>Al iniciar sesión podrás publicar tus mascotas y cambiar datos de tu perfil.</p>
    <p><b>¿Olvidaste tu contraseña?</b> Clik <%= link_to 'aqui', users_path %></p>
    <p><b>¿Todabia no tienes una cuenta?</b> Registrate haciendo clik <%= link_to 'aqui', {:controller => :users, :action => :new} %>. Es gratis!</p>

</div>
</div>
