
	<div class="span3">
	
	<% unless current_user.nil? %>
	<div class="well sidebar-nav">
	     <ul class="nav nav-list">
              <li><b><%= current_user.name %></b></li>
	      <li><%= link_to "Mis Mascotas", pets_url %></li>
              <li><%= link_to "Agregar Mascota", new_pet_url %></li>              	     </ul>
	</div>
	<% end %>

          <div class="well sidebar-nav">
            <nav><ul class="nav nav-list">
              <li class="nav-header">Las mascotas</li>
	      <% species_menu.each do |s| %>
	      
	      <li class="<%= if current_page?(:controller => :species, :action => :show, :id => s.id) then 'active' else 'li_menu' end %>"  > <%= link_to s.name, s %>  </li>

	      <% end %>

              <li class="nav-header">Destacados</li>
              <li><a href="#">Mascotas Extraviadas!</a></li>
              <li><a href="#">Regalo Cachorritos :)</a></li>
              
            </ul></nav>
          </div><!--/.well -->
        </div><!--/span-->
